.arrow-slider {
  .arrows-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .slider-wrapper {
    width: 100%;
    display: block
  }

  .arrow {
    cursor: pointer;
    margin: 0 25px;
    transform-origin: center;
    transition: all 0.3s linear;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.5);
    }

    .icon {
      font-size: 2.5rem;
      fill: none;
      stroke: #ff1493;
    }
  }

  .arrow-prev {
    .icon {
      transform: rotateY(180deg);
    }
  }

  .title-block {
    padding-left: 23px;
    padding-bottom: 20px;
  }

  .title {
    font-size: 2rem;
    font-family: $font-caviar-bold;
  }
}
