.article-wrapper {
  .article-st {
    display: flex;
    align-items: center;
  }

  .article-views {
    display: flex;
    align-items: center;
  }

  .row {
    flex-wrap: nowrap;

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  .title {
    font-family: $font-caviar-bold;
    font-size: 3rem;
    line-height: 3.8rem;
    max-height: 80px;
    overflow: hidden;

    @include tablet {
      max-height: 70px;
    }

    @include little-phone {
      max-height: 60px;
    }
  }

  .article-img {
    max-height: 430px;
    overflow: hidden;
  }

  article {
    width: 70%;
    padding-right: 30px;

    @include tablet {
      width: 100%;
      padding-right: 0;
    }
  }

  .news-slider {
    width: 30%;

    @include tablet {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .img {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .status {
    padding: 8px 0;
    font-family: $font-caviar;
    font-size: 1.6rem;
    line-height: 2.3rem;
  }

  .article-date {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: $font-caviar-italic;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .article-content {
    padding-top: 40px;

    @include little-phone {
      padding-top: 15px;
    }
  }

  .content {
    font-size: 2rem;
    line-height: 2.6rem;

    p {
      padding: 15px 0;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {

        padding-bottom: 0;
      }

      @include little-phone {
        padding: 5px 0;
      }
    }
  }

  .news-slider {
    background-color: $color-black-3;
    max-height: 700px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    padding-top: 15px;
    position: relative;

    @include middle-tablet {
      max-height: 550px;
    }

    @include tablet {
      max-height: unset;
      padding: 5px 15px;
    }
  }

  .vertical-slider {
    max-height: 100%;
    z-index: 4;

    @include desktop-block {
      max-width: 100%;
    }
  }

  .news-content {

    max-height: 200px;
    position: relative;
    overflow: hidden;
    box-shadow: $box-shadow;
    transition: all 0.3s linear;
    height: 200px;

    &:hover {
      box-shadow: 0px 3px 6px $color-pink;
    }

    @include desktop-block {
      max-width: 100%;
    }

    @include middle-tablet {
      height: 150px;
    }

    @include tablet {
      height: 200px;
    }
  }

  .news-img {
    @include tablet {
      img {
        height: 100%;
        width: auto;
        max-width: unset;
      }
    }
  }

  .news-info {
    padding: 10px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $color-black;
  }

  .item-content {
    padding: 5px 0;

    @include tablet {
      padding: 0 10px;
    }
  }

  .news-categ {
    font-family: $font-caviar-italic;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .news-title {
    font-family: $font-caviar;
    font-size: 1.4rem;
    line-height: 2.3rem;
    max-height: 20px;
    overflow: hidden;
    margin: 7px 0;
  }

  .news-status {
    font-family: $font-caviar-italic;
    font-size: 0.8rem;
  }

  .arrows-wrapper {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    @include tablet {
      flex-direction: row;
      padding: 0px 0px;
    }
  }

  .arrow {
    cursor: pointer;
    transition: all 0.3s linear;

    &-prev {
      transform: rotate(-90deg);

      &:hover {
        transform: scale(1.5) rotate(-90deg);
      }

      @include tablet {
        transform: rotate(180deg);

        &:hover {
          transform: scale(1.5) rotate(180deg);
        }
      }
    }

    &-next {
      transform: rotate(90deg);

      &:hover {
        transform: scale(1.5) rotate(90deg);
      }

      @include tablet {
        transform: rotate(0deg);

        &:hover {
          transform: scale(1.5) rotate(0deg);
        }
      }
    }
  }

  .icon {
    font-size: 2.5rem;
    fill: none;
    stroke: #ff1493;
  }

  .count-box {
    font-family: $font-caviar-italic;
    font-size: 1.6rem;
    line-height: 1.9;
    color: $color-pink;
  }

}
