.catalog-grid {
  .row {
    flex-wrap: nowrap;
    position: relative;
    align-items: flex-start;

    @include little-phone {
      flex-direction: column-reverse;
    }
  }

  .news-wrapper {
    width: calc(100% - 40px);
  }

  .news-item {
    padding: 15px 10px;

    @include middle-tablet {
      flex: 0 0 50%;
    }

    @include phone {
      flex: 0 0 100%;
    }
  }

  .news-content {
    height: 300px;
  }

  .news-title {
    margin: 5px 0;
  }

  .news-filter {
    width: 0%;
    padding: 15px 0;
    padding-left: 15px;
    transform-origin: right;
    transition: 0.3s all linear;
    transform: scaleX(0);
    max-height: 1000px;

    .filter-content {
      opacity: 0;
      transition: 0.3s all linear;
    }

    @include little-phone {
      position: absolute;
      padding-left: 0;
      top: 0;
      left: 0;
      transform-origin: left top;
      height: 0;
      max-height: unset;
      transform: scale(0)
    }
  }

  .filter-open {
    transform: scaleX(1);
    width: 40%;

    .filter-content {
      opacity: 1;
    }

    @include little-phone {
      width: 100%;
      height: auto;
      transform: scale(1);
    }
  }

  .block-title {
    padding: 8px 0;
    width: 100%;
    background-color: $color-white;
  }

  .filter-content {
    background-color: $color-black-3;
    position: relative;
  }

  .close-btn {
    position: absolute;
    top: 7px;
    right: 5px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    .br {
      height: 2px;
      width: 100%;
      background-color: $color-pink-2;
      transform-origin: center;

      &-1 {
        transform: rotate(45deg) translateY(1.4px);
      }

      &-2 {
        transform: rotate(-45deg) translateY(-1.4px);
      }
    }
  }

  .title {
    font-family: $font-family;
    color: $color-pink-2;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .article {
    padding: 15px 10px;
    font-family: $font-caviar-italic;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
    transition: 0.3s all linear;

    p {
      height: 40px;
      overflow: hidden;
    }

    &:hover {
      color: $color-pink;
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $color-pink;
      top: 100%;
      left: 0;
    }
  }

  .article-btn {
    padding: 25px 0;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;

    .btn {
      max-width: 200px;
      text-transform: uppercase;
      height: auto;
      border-radius: 0;

      a {
        padding: 10px 0;
        font-size: 1.2rem;
        height: auto;
      }
    }
  }

  .tags-wrapper {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .article-btn {
      width: 100%;
      padding-bottom: 25px;
    }
  }

  .tag {
    padding: 5px 0;
    flex: 0 0 auto;
    transition: 0.3s all linear;

    &:hover {
      color: $color-pink;
    }
  }

  .tag-content {
    font-size: 1.4rem;
    font-family: $font-caviar-bold;
    line-height: 1.8rem;
    background-color: $color-black;
    padding: 5px 10px;

    &:before {
      content: '#';
    }
  }

  .filter-btn {
    position: absolute;
    right: 0;
    top: 15px;
  }

  .open-btn {
    cursor: pointer;
    height: 36px;
    width: 36px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .br {
    width: 100%;
    height: 2px;
    background-color: $color-pink-2;
  }
}
