@import '../../libs/slick-carousel/slick/slick.scss';

* {
  outline: none;
}

.category-slider {

  .container-fluid {
    padding: 0px;

  }

  .slider-wrapper {
    max-width: 100%;
  }

  .slide-img {
    width: 100%;
    box-shadow: $box-shadow;
    transition: all 0.3s linear;

    img {
      width: 100%;
    }
  }

  .item-content {
    padding: 10px 23px;
    position: relative;

    @include tablet {
      max-height: 300px;
    }
  }

  .slider-item {

    &:hover {
      .slide-img {
        box-shadow: 0 3px 6px $color-pink;
      }

      .slider-desc {
        transform: scaleY(1);
        height: auto;
      }
    }
  }

  .slide-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .slider-title {
    font-family: $font-caviar-bold;
    font-size: 4rem;
    line-height: 5rem;
  }

  .slider-desc {
    font-family: $font-caviar-bold;
    font-size: 1.6rem;
    line-height: 2.3rem;
    max-width: 210px;
    text-align: center;
    transition: all 0.3s linear;
    transform-origin: top;
    transform: scaleY(0);
    height: 0;
  }
}
