footer {
  background-color: $color-black-2;
  padding: 22px 0;

  .site-width {
    margin: 0;
    max-width: unset;
    padding: 0 120px;
    width: 100%;

    @include desktop-block {
      padding: 0px;
    }
  }

  .col {
    @include little-phone {
      padding: 0;
    }
  }

  .logo {
    font-size: 2.5rem;
    line-height: 3rem;
    transition: all 0.3s linear;

    &:hover {
      color: $color-pink;
    }
  }

  .row {
    justify-content: space-between;
  }

  .icon {
    font-size: 2.6rem;
    transition: all 0.3s linear;
    transform-origin: center;
  }

  .social-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .social-link {
    margin: 0 15px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      .icon {
        fill: $color-pink;
        transform: scale(1.5);
      }
    }

    @include little-phone {
      margin: 0 4px;
    }
  }
}
