header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-black-2;

  .site-width {
    margin: 0;
    max-width: unset;
    padding: 0 120px;
    width: 100%;

    @include desktop-block {
      padding: 0;
    }
  }

  .header-row {
    padding: 15px 0;
    justify-content: space-between;
  }

  .col {
    display: flex;
    align-items: stretch;
    padding: 0;
  }

  .logo-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 2.5rem;
    margin-left: 24px;
    transition: all 0.3s linear;

    @include extra-phone {
      margin-left: 10px;
    }

    &:hover {
      color: $color-pink;
    }
  }

  .burger-btn {
    cursor: pointer;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .br {
    height: 1px;
    width: 24px;
    background-color: $color-white;
    transition: all 0.3s linear;
    transform-origin: left;
  }

  .btn-opened {
    // justify-content: center;

    .br-1 {
      transform: rotate(45deg) translateY(-0.5px);
    }

    .br-2 {
      width: 0;
    }

    .br-3 {
      transform: rotate(-45deg) translateY(0.5px);
    }
  }


  .navigation {
    ul {
      display: flex;
    }

    .nav-link {
      margin: 0 18px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      @include little-phone {
        margin: 0 10px;

        svg {
          height: 25px;
          width: 25px;
        }
      }

      @include extra-phone {
        margin: 0 2px;
      }
    }
  }

  .burger-nav {
    transform: translateX(-100%);
    transition: all 0.3s linear;
    position: absolute;
    top: 100%;
    left: 0;
    height: calc(100vh - 100%);
    width: 315px;
    background-color: $color-black-3;

    .sidebar {
      padding: 10px 0;
      width: 100%;
    }

    .nav-link {
      display: flex;
      justify-content: flex-end;
      transition: all 0.3s linear;

      .icon {
        filter: grayscale(100%);
        transition: 0.3s all linear;
      }

      &:hover {
        background-color: $color-black-2;

        .icon {
          filter: grayscale(0);
        }

        .icon-ethereum {
          .cls-1 {
            fill: #e24b39;
          }

          .cls-2 {
            fill: #ff1493;
          }

          .cls-3 {
            fill: #ffb7de;
          }

          .cls-4 {
            fill: hsl(327, 6%, 72%);
          }

          .cls-5 {
            fill: #b76e96;
          }
        }
      }

      font-size: 1.6rem;
      font-family: $font-caviar;
      padding-left: 135px;

      @include desktop-block {
        padding-left: 15px;

        svg {
          height: 25px;
          width: 25px;
        }
      }

      .icon {
        width: 23px;
        margin-right: 10px;
      }

      a {
        padding: 15px 0;
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

    .search-link {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 10px;
      padding-bottom: 10px;

      &:hover {
        #search {
          filter: grayscale(0%);
        }
      }

      #search {
        width: 100%;
        height: 100%;
        max-width: 26px;
        margin-right: 10px;
        filter: grayscale(100%);
        transition: 0.3s all linear;
      }

      form {
        max-width: calc(100% - 50px);
      }

      input {
        max-width: 100%;
        background-color: transparent;
        border: none;
        font-size: 1.4rem;
        font-family: $font-caviar;
        color: $color-white;
        padding: 5px 0;
        border-bottom: 1px solid $color-white
      }
    }
  }

  .burger-nav-opened {
    transform: translateX(0);
  }

  .lang-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

    @include extra-phone {
      margin-left: 5px;
    }
  }

  .icon {
    * {
      transition: all 0.3s linear;
    }
  }

  .icon-target {

    .cls-1 {
      fill: #fff;
    }

    .cls-2 {
      fill: #fff;
    }

    &:hover {
      .cls-1 {
        fill: #ff1493;
      }

      .cls-2 {
        fill: #b76e96;
      }
    }
  }

  .icon {
    width: 1em;
    font-size: 2.6rem;
    filter: grayscale(100%);
    transition: 0.3s all linear;

    &:hover {
      filter: grayscale(0);
    }
  }


  .icon-creation {

    .cls-1 {
      fill: #fff;
    }

    .cls-2 {
      fill: #f1f1f1;
    }

    .cls-3 {
      fill: #bbb2b7;
    }

    .cls-4 {
      fill: hsl(327, 6%, 72%);
    }

    .cls-5 {
      fill: #f1f1f1;
    }

    &:hover {
      .cls-1 {
        fill: #ff1493;
      }

      .cls-2 {
        fill: #430c2a;
      }

      .cls-3 {
        fill: #bbb2b7;
      }

      .cls-4 {
        fill: rgba(194, 206, 206, 0);
      }

      .cls-5 {
        fill: #960b57;
      }
    }
  }

  .icon-ethereum {
    .cls-1 {
      fill: #fff;
    }

    .cls-2 {
      fill: #f1f1f1;
    }

    .cls-3 {
      fill: #bbb2b7;
    }

    .cls-4 {
      fill: hsl(327, 6%, 72%);
    }

    .cls-5 {
      fill: #f1f1f1;
    }

    &:hover {
      .cls-1 {
        fill: #e24b39;
      }

      .cls-2 {
        fill: #ff1493;
      }

      .cls-3 {
        fill: #ffb7de;
      }

      .cls-4 {
        fill: hsl(327, 6%, 72%);
      }

      .cls-5 {
        fill: #b76e96;
      }
    }
  }

  .active-link {
    .icon {
      filter: grayscale(0);
    }

    .icon-target {
      .cls-1 {
        fill: #ff1493;
      }

      .cls-2 {
        fill: #b76e96;
      }
    }

    .icon-creation {
      .cls-1 {
        fill: #ff1493;
      }

      .cls-2 {
        fill: #430c2a;
      }

      .cls-3 {
        fill: #bbb2b7;
      }

      .cls-4 {
        fill: rgba(194, 206, 206, 0);
      }

      .cls-5 {
        fill: #960b57;
      }
    }

    .icon-ethereum {
      .cls-1 {
        fill: #e24b39;
      }

      .cls-2 {
        fill: #ff1493;
      }

      .cls-3 {
        fill: #ffb7de;
      }

      .cls-4 {
        fill: hsl(327, 6%, 72%);
      }

      .cls-5 {
        fill: #b76e96;
      }
    }
  }

}
