.news {
  .news-img {
    img {
      object-fit: cover;
    }
  }

  .news-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
    }
  }

  .col {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    @include tablet {
      padding: 0;
      flex-direction: row;

      &:last-of-type {
        padding-top: 20px;
      }
    }

    @include little-phone {
      flex-direction: column;
    }
  }

  .big-news {
    flex: 0 0 60%;

    @include tablet {
      flex-direction: column;
    }

    img {
      width: 100%;
    }
  }

  .popular-tag {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: 'Популярная';
      text-transform: uppercase;
      color: $color-pink-2;
      background-color: $color-white;
      padding: 6px 35px;
      font-family: $font-caviar-bold;
      font-size: 1.4rem;
    }
  }

  .last-tag {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: 'Последняя';
      text-transform: uppercase;
      color: $color-pink-2;
      background-color: $color-white;
      padding: 6px 35px;
      font-family: $font-caviar-bold;
      font-size: 1.4rem;
    }
  }

  .news-block {
    max-height: 420px;
    overflow: hidden;

    box-shadow: $box-shadow;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 0 3px 6px $color-pink;
    }

    position: relative;
  }

  .news-desc {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 22px;
    background-color: rgba($color-black, 0.6);
  }

  .news-title {
    font-family: $font-caviar-bold;
    font-size: 1.6rem;
    line-height: 2.3rem;
  }

  .news-author {
    font-family: $font-caviar-italic;
    font-size: 1.4rem;
    padding-top: 6px;
  }

  .mid-news {
    max-width: 100%;
    max-height: 240px;
    overflow: hidden;

    @include tablet {
      max-height: 300px;
      height: 100%;

      img {
        height: 100%;
      }
    }

    @include small-phone {
      max-height: 200px;
    }

    .news-title {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

    .news-author {
      font-size: 1rem;
    }

    .news-desc {
      padding: 10px 16px;
    }
  }

  .half-block {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    @include tablet {
      flex-direction: column;
      padding: 0;
      align-items: center;
      justify-content: center;
    }
  }

  .sm-news {
    max-height: 155px;
    flex: 0 0 48%;

    @include tablet {
      padding: 5px 0;
      padding-left: 5px;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    @include little-phone {
      flex: 0 0 100%;
      max-height: 200px;
      width: 100%;
      padding-left: 0;

      img {
        width: 100%;
      }

      &:first-of-type {
        padding-top: 5px;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    .news-title {
      max-height: 33px;
      overflow: hidden;
    }
  }
}
