.news-grid {
  .news-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .news-item {
    flex: 0 0 33.3%;
    padding: 23px;

    @include tablet {
      flex: 0 0 50%;
    }

    @include phone {
      padding: 10px;
    }

    @include little-phone {
      flex: 0 0 100%;
      padding: 10px 0;
    }
  }

  .news-content {
    background-color: $color-black-3;
    box-shadow: $box-shadow;
    transition: all 0.3s linear;
    position: relative;
    height: 416px;

    @include middle-tablet {
      height: 300px;
    }

    &:hover {
      box-shadow: 0 3px 6px $color-pink;

      .news-title {
        max-height: 200px;
      }
    }
  }

  .news-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    max-height: 260px;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      max-width: unset;
    }
  }

  .news-info {
    padding: 12px 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $color-black-3;
  }

  .news-categ {
    font-family: $font-caviar-bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 2.1rem;
  }

  .news-title {
    font-family: $font-caviar;
    font-size: 1.6rem;
    line-height: 2.3rem;
    max-height: 50px;
    overflow: hidden;
    margin: 16px 0;
    transition: all 0.5s ease-in-out;

    @include phone {
      max-height: 40px;
      margin: 5px 0;
    }
  }

  .news-status {
    font-family: $font-caviar-italic;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .news-btn {
    padding-top: 47px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include phone {
      padding-top: 15px;
    }
  }

  .btn {
    font-family: $font-caviar-bold;
    font-size: 1.4rem;
    color: $color-pink;
    height: 46px;
    width: 306px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow;
    transition: all 0.3s linear;
    border-radius: 3px;

    @include extra-phone {
      width: 200px;
    }

    &:hover {
      box-shadow: 0 3px 6px $color-pink;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
