* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-family;
  color: $color-white;

  @include tablet {
    font-size: 9px;
  }

  @include little-phone {
    font-size: 8px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

main {
  padding-top: 60px;
}

section {
  padding: 35px 0;

  @include tablet {
    padding: 15px 0;
  }
}

.page {
  background-color: $color-black;
}

.test {}

#asd {

  color: black;
  font-size: 20px;
}
