@font-face {
  font-family: 'Caviar-Dreams-Bold';
  src: url('assets/fonts/Caviar-Dreams-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar-Dreams-BoldItalic';
  src: url('assets/fonts/Caviar-Dreams-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar-Dreams-Italic';
  src: url('assets/fonts/Caviar-Dreams-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar-Dreams';
  src: url('assets/fonts/Caviar-Dreams.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cleanvertising-Black';
  src: url('assets/fonts/Cleanvertising-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cleanvertising-Light';
  src: url('assets/fonts/Cleanvertising-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
