.lang-block {
  font-family: $font-caviar-bold;
  font-size: 1.6rem;
  line-height: normal;
  text-transform: uppercase;
  position: relative;

  span {
    cursor: pointer;
    padding: 0 15px;
    display: flex;
    align-items: center;

    svg {
      transition: 0.3s all linear;
      fill: transparent;
      stroke: $color-white;
      margin-left: 7px;
    }
  }

  .widget {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-black-2;
    transition: 0.3s all linear;
    transform-origin: top;
    transform: scaleY(0);

    .lang-item {
      padding: 0 15px;
      font-family: $font-caviar-bold;
      transition: 0.3s all linear;

      &:hover {
        color: $color-pink;
      }
    }
  }

  &.opened {
    span svg {
      transform: rotateX(-180deg);
    }

    .widget {
      transform: scaleY(1);
    }
  }
}
