.slick-dots {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-active {
  .slider-dot {
    background-color: $color-pink;
  }
}

.slider-dot {
  transition: all 0.3s ease;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba($color-white, 0.7);
  cursor: pointer;
}
