.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: $svgColor;
}

.icon-arrow-slider {
	font-size:(10.079999999999998/10)*1rem;
	width:(7.5/10.079999999999998)*1em;
}
.icon-behance {
	font-size:(19.55/10)*1rem;
	width:(19.55/19.55)*1em;
}
.icon-briefcase {
	font-size:(22.21/10)*1rem;
	width:(23/22.21)*1em;
}
.icon-creation {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-ethereum {
	font-size:(22.15/10)*1rem;
	width:(22.15/22.15)*1em;
}
.icon-eye {
	font-size:(14.54/10)*1rem;
	width:(23.79/14.54)*1em;
}
.icon-heart {
	font-size:(14.91/10)*1rem;
	width:(17.06/14.91)*1em;
}
.icon-instagram {
	font-size:(19.46/10)*1rem;
	width:(19.46/19.46)*1em;
}
.icon-lab-active {
	font-size:(463.47/10)*1rem;
	width:(257.86/463.47)*1em;
}
.icon-lab-inactive {
	font-size:(463.47/10)*1rem;
	width:(257.86/463.47)*1em;
}
.icon-mail {
	font-size:(15.39/10)*1rem;
	width:(21.55/15.39)*1em;
}
.icon-patreon {
	font-size:(21/10)*1rem;
	width:(18/21)*1em;
}
.icon-pinterest {
	font-size:(310.05/10)*1rem;
	width:(310.05/310.05)*1em;
}
.icon-search {
	font-size:(338/10)*1rem;
	width:(338/338)*1em;
}
.icon-skills-active {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.icon-skills-inactive {
	font-size:(464/10)*1rem;
	width:(464/464)*1em;
}
.icon-target {
	font-size:(25.340000000000003/10)*1rem;
	width:(25.35/25.340000000000003)*1em;
}
.icon-telegram {
	font-size:(17.51/10)*1rem;
	width:(20.11/17.51)*1em;
}
.icon-twitter {
	font-size:(21.05/10)*1rem;
	width:(30.560000000000002/21.05)*1em;
}
