$color-white: #ffffff;
$color-black: #111111;
$color-black-2: #292929;
$color-black-3: #1C1C1C;
$color-pink: #FF1493;
$color-pink-2: #960B57;

$svgColor:$color-white;

$box-shadow:0 3px 6px rgba($color-black, 0.16);

$font-family:'Cleanvertising-Light',
sans-serif;
$font-black:'Cleanvertising-Black',
sans-serif;

$font-caviar:'Caviar-Dreams',
sans-serif;
$font-caviar-italic:'Caviar-Dreams-Italic',
sans-serif;
$font-caviar-bold:'Caviar-Dreams-Bold',
sans-serif;
$font-caviar-bolditalic:'Caviar-Dreams-BoldItalic',
sans-serif;
