<svg xmlns="http://www.w3.org/2000/svg" class='icon ic-lab' viewBox="0 0 257.859 463.47">
  <g id="Lab" transform="translate(-422.183 -4067)">
    <path class="cls-5" d="M381,334.58A128.93,128.93,0,1,1,252.088,205.651,128.931,128.931,0,0,1,381,334.58Z"
      transform="translate(299.04 4067)" fill="#bbb2b7" />
    <path class="cls-1" d="M381,334.58a128.93,128.93,0,0,1-257.859,0" transform="translate(299.04 4067)"
      fill="#ff1493" />
    <path class="cls-2"
      d="M252.08,463.47A128.861,128.861,0,0,0,379.749,351.539H124.38C132.737,414.673,186.655,463.47,252.08,463.47Z"
      transform="translate(299.04 4067)" fill="#960b57" />
    <path class="cls-6"
      d="M292.891,240.1V19.858C292.891.347,277.074,0,257.586,0H246.55c-19.488,0-35.3.354-35.3,19.858V215.489Z"
      transform="translate(299.04 4067)" fill="#f1f1f1" />
    <path class="cls-5" d="M292.891,240.1V19.858C292.891.347,277.074,0,257.586,0H246.55V240.1Z"
      transform="translate(299.04 4067)" fill="#bbb2b7" />
    <path class="cls-5"
      d="M289.149,96.445l3.749-3.757V19.858C292.9.347,277.082,0,257.594,0H246.558C227.5,0,212.089.465,211.38,18.684Z"
      transform="translate(299.04 4067)" fill="#bbb2b7" />
    <path class="cls-6"
      d="M307.242,8.814a8.817,8.817,0,0,1-8.822,8.822H205.732a8.817,8.817,0,0,1-8.822-8.822h0A8.805,8.805,0,0,1,205.732,0h92.7a8.8,8.8,0,0,1,8.814,8.814Z"
      transform="translate(299.04 4067)" fill="#f1f1f1" />
    <path class="cls-5" d="M307.242,8.814h0a8.817,8.817,0,0,1-8.822,8.822H205.732a8.817,8.817,0,0,1-8.822-8.822h0"
      transform="translate(299.04 4067)" fill="#bbb2b7" />
    <path class="cls-4"
      d="M255.743,56.092a2.206,2.206,0,0,1-2.2,2.206h-29.42a2.212,2.212,0,0,1-2.206-2.206h0a2.212,2.212,0,0,1,2.206-2.206h29.42a2.206,2.206,0,0,1,2.2,2.206Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M238.1,73a2.214,2.214,0,0,1-2.213,2.206h-11.76A2.208,2.208,0,0,1,221.92,73h0a2.205,2.205,0,0,1,2.206-2.2h11.76A2.2,2.2,0,0,1,238.1,73Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M255.743,89.2a2.206,2.206,0,0,1-2.2,2.206h-29.42a2.212,2.212,0,0,1-2.206-2.206h0a2.208,2.208,0,0,1,2.206-2.213h29.42a2.2,2.2,0,0,1,2.2,2.213Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M238.1,106.11a2.215,2.215,0,0,1-2.213,2.213h-11.76a2.209,2.209,0,0,1-2.206-2.213h0a2.2,2.2,0,0,1,2.206-2.2h11.76a2.2,2.2,0,0,1,2.213,2.2Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M255.743,122.3a2.2,2.2,0,0,1-2.2,2.206h-29.42a2.208,2.208,0,0,1-2.206-2.206h0a2.193,2.193,0,0,1,2.206-2.19h29.42a2.187,2.187,0,0,1,2.2,2.19Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M238.1,139.217a2.219,2.219,0,0,1-2.213,2.206h-11.76a2.212,2.212,0,0,1-2.206-2.206h0a2.205,2.205,0,0,1,2.206-2.2h11.76a2.213,2.213,0,0,1,2.213,2.2Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M255.743,155.4a2.181,2.181,0,0,1-2.2,2.182h-29.42a2.187,2.187,0,0,1-2.206-2.182h0a2.22,2.22,0,0,1,2.206-2.221h29.42a2.214,2.214,0,0,1,2.2,2.221Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M238.1,172.323a2.219,2.219,0,0,1-2.213,2.206h-11.76a2.212,2.212,0,0,1-2.206-2.206h0a2.215,2.215,0,0,1,2.206-2.221h11.76a2.223,2.223,0,0,1,2.213,2.221Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M255.743,188.5a2.214,2.214,0,0,1-2.2,2.221h-29.42a2.221,2.221,0,0,1-2.206-2.221h0a2.212,2.212,0,0,1,2.206-2.206h29.42a2.2,2.2,0,0,1,2.2,2.206Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M238.1,205.414a2.209,2.209,0,0,1-2.213,2.213h-11.76a2.2,2.2,0,0,1-2.206-2.213h0a2.192,2.192,0,0,1,2.206-2.182h11.76a2.2,2.2,0,0,1,2.213,2.182Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <path class="cls-4"
      d="M210.742,231.424c5.829,5.837-8.712,18.109-25.261,34.674-16.573,16.549-28.845,31.1-34.674,25.269-5.845-5.853,2.836-24.009,19.385-40.55C186.733,234.26,204.882,225.579,210.742,231.424Z"
      transform="translate(299.04 4067)" fill="#fff" />
    <circle class="cls-3" cx="17.432" cy="17.432" r="17.432" transform="translate(503.811 4348.639)" fill="#430c2a" />
    <circle class="cls-2" cx="7.176" cy="7.176" r="7.176" transform="translate(559.186 4352.751)" fill="#960b57" />
    <circle class="cls-2" cx="14.352" cy="14.352" r="14.352" transform="translate(569.442 4306.6)" fill="#960b57" />
    <circle class="cls-1" cx="12.816" cy="12.816" r="12.816" transform="translate(608.393 4362.999)" fill="#ff1493" />
    <circle class="cls-1" cx="6.152" cy="6.152" r="6.152" transform="translate(525.339 4317.872)" fill="#ff1493" />
    <circle class="cls-3" cx="4.104" cy="4.104" r="4.104" transform="translate(460.748 4382.463)" fill="#430c2a" />
  </g>
</svg>
