<svg xmlns="http://www.w3.org/2000/svg" class="icon ic-skill" viewBox="0 0 464 464">
  <g id="skills" transform="translate(-1800 -4007)">
    <path class="cls-1" fill="#ff1493"
      d="M240,416v48H48V352A163.732,163.732,0,0,1,0,236.078V192C0,86,86,0,192,0h16C314,0,400,86,400,192l64,120H384v72a31.992,31.992,0,0,1-32,32Zm0,0"
      transform="translate(1800 4007)" />
    <path class="cls-2" fill="#430c2a" d="M384,376a40.047,40.047,0,0,1-40-40h16a24.031,24.031,0,0,0,24,24Zm0,0"
      transform="translate(1800 4007)" />
    <path class="cls-2" fill="#430c2a" d="M200,416h40v16H200Zm0,0" transform="translate(1800 4007)" />
    <path class="cls-3" fill="#960b57" d="M168,416h16v16H168Zm0,0" transform="translate(1800 4007)" />
    <path class="cls-3" fill="#960b57" d="M136,416h16v16H136Zm0,0" transform="translate(1800 4007)" />
    <path class="cls-2" fill="#430c2a" d="M104,416h16v16H104Zm0,0" transform="translate(1800 4007)" />
    <path class="cls-3" fill="#960b57"
      d="M255.422,86.709l-6.06-2.9,2.9-6.06,6.06,2.9Zm-12.154-5.791-6.127-2.9,2.9-6.06,6.06,2.9Zm-12.154-5.791-6.094-2.9,2.9-6.06,6.094,2.9Zm-12.154-5.791-6.094-2.9,2.9-6.06,6.094,2.9Zm-12.12-5.791-6.094-2.9,2.727-6.06,6.094,2.9Zm-12.154-5.791-6.127-2.9,2.9-6.06,6.094,3.03Z"
      transform="translate(1787.792 4057.737)" />
    <path class="cls-3" fill="#960b57"
      d="M191.207,373.633l-3.367-5.925,5.892-3.367,3.367,5.892Zm11.851-6.329-3.367-6.06,5.925-3.367,3.367,5.892Zm11.75-6.733-3.367-5.892,5.892-3.367,3.367,5.925Zm11.817-6.43-3.367-5.892,5.925-3.367,3.367,5.892Zm11.783-6.464-3.367-5.925,5.892-3.367,3.367,5.892Zm11.783-6.5-3.367-5.892,5.892-3.367,3.367,5.892Z"
      transform="translate(1788.209 3893.763)" />
    <path class="cls-3" fill="#960b57" d="M240.1,253.879l2.895-6.079,6.079,2.894-2.895,6.079Z"
      transform="translate(1757.945 3942.482)" />
    <path class="cls-3" fill="#960b57" d="M124.546,198.833l2.895-6.079,6.079,2.895-2.894,6.079Z"
      transform="translate(1824.867 3974.363)" />
    <path class="cls-3" fill="#960b57" d="M153.464,212.592l2.894-6.079,6.079,2.895-2.895,6.079Z"
      transform="translate(1808.119 3966.395)" />
    <path class="cls-3" fill="#960b57" d="M269.014,267.639l2.895-6.079,6.079,2.894-2.894,6.079Z"
      transform="translate(1741.196 3934.513)" />
    <path class="cls-3" fill="#960b57" d="M270.089,196.238l5.9-3.246,3.246,5.9-5.9,3.246Z"
      transform="translate(1740.573 3974.225)" />
    <path class="cls-3" fill="#960b57" d="M129.906,273.292l5.9-3.246,3.246,5.9-5.9,3.246Z"
      transform="translate(1821.763 3929.598)" />
    <path class="cls-3" fill="#960b57"
      d="M188.582,228.939l2.727-5.723-6.094-2.9-2.9,6.06,5.858,2.794-4.309,2.357,3.232,5.892,5.925-3.232L189.76,228.3Z"
      transform="translate(1791.406 3958.398)" />
    <path class="cls-3" fill="#960b57" d="M242.12,211.664l5.9-3.246,3.246,5.9-5.9,3.246Z"
      transform="translate(1756.772 3965.291)" />
    <path class="cls-3" fill="#960b57" d="M157.9,257.971l5.9-3.244,3.244,5.9-5.9,3.244Z"
      transform="translate(1805.55 3938.47)" />
    <path class="cls-3" fill="#960b57"
      d="M218.3,223.84l-5.892,3.232,1.178,2.155-2.39,4.983,6.094,2.9,2.9-6.06-.539-.269,1.885-1.044Z"
      transform="translate(1774.68 3956.359)" />
    <path class="cls-4" fill="#bbb2b7"
      d="M80.5,35.619l-.3-2.491-10.975-2.02A27.754,27.754,0,0,0,67.333,26.6l6.329-9.191-1.515-1.953A40.607,40.607,0,0,0,65.414,8.72L63.462,7.2,54.2,13.467a27.753,27.753,0,0,0-4.511-1.885L47.672.606,45.181.3a37.866,37.866,0,0,0-9.561,0l-2.491.3-2.02,10.975A27.754,27.754,0,0,0,26.6,13.467L17.406,7.137,15.453,8.652A40.607,40.607,0,0,0,8.72,15.386L7.2,17.338,13.467,26.6a27.754,27.754,0,0,0-1.885,4.511L.606,33.128.3,35.619a37.866,37.866,0,0,0,0,9.561l.3,2.491,10.975,2.02A27.753,27.753,0,0,0,13.467,54.2L7.137,63.394l1.515,1.953a40.607,40.607,0,0,0,6.733,6.733L17.338,73.6,26.6,67.333a27.754,27.754,0,0,0,4.511,1.885l2.02,10.975,2.491.3a37.865,37.865,0,0,0,9.561,0l2.491-.3,2.02-10.975A27.754,27.754,0,0,0,54.2,67.333l9.191,6.329,1.953-1.515a40.607,40.607,0,0,0,6.733-6.733L73.6,63.462,67.333,54.2a27.754,27.754,0,0,0,1.885-4.511l10.975-2.02.3-2.491a37.865,37.865,0,0,0,0-9.561ZM50.5,40.4A10.1,10.1,0,1,1,40.4,30.3,10.1,10.1,0,0,1,50.5,40.4Z"
      transform="translate(1897 4086)" />
    <path class="cls-2" fill="#430c2a"
      d="M368.5,179.619l-.3-2.491-10.975-2.02a27.755,27.755,0,0,0-1.885-4.511l6.329-9.191-1.515-1.953a40.606,40.606,0,0,0-6.733-6.733l-1.953-1.515-9.258,6.262a27.751,27.751,0,0,0-4.511-1.885l-2.02-10.975-2.491-.3a37.865,37.865,0,0,0-9.561,0l-2.491.3-2.02,10.975a27.752,27.752,0,0,0-4.511,1.885l-9.191-6.329-1.953,1.515a40.607,40.607,0,0,0-6.733,6.733l-1.515,1.953,6.262,9.258a27.754,27.754,0,0,0-1.885,4.511l-10.975,2.02-.3,2.491a37.866,37.866,0,0,0,0,9.561l.3,2.491,10.975,2.02a27.752,27.752,0,0,0,1.885,4.511l-6.329,9.191,1.515,1.953a40.611,40.611,0,0,0,6.733,6.733l1.953,1.515,9.258-6.262a27.757,27.757,0,0,0,4.511,1.885l2.02,10.975,2.491.3a37.866,37.866,0,0,0,9.561,0l2.491-.3,2.02-10.975a27.754,27.754,0,0,0,4.511-1.885l9.191,6.329,1.953-1.515a40.609,40.609,0,0,0,6.733-6.733l1.515-1.953-6.262-9.258a27.755,27.755,0,0,0,1.885-4.511l10.975-2.02.3-2.491a37.867,37.867,0,0,0,0-9.561Zm-30,4.781a10.1,10.1,0,1,1-10.1-10.1A10.1,10.1,0,0,1,338.5,184.4Z"
      transform="translate(1730.2 4002.6)" />
    <path class="cls-3" fill="#960b57"
      d="M80.5,323.619l-.3-2.491-10.975-2.02a27.754,27.754,0,0,0-1.885-4.511l6.329-9.191-1.515-1.953a40.607,40.607,0,0,0-6.733-6.733L63.462,295.2,54.2,301.467a27.752,27.752,0,0,0-4.511-1.885l-2.02-10.975-2.491-.3a37.864,37.864,0,0,0-9.561,0l-2.491.3-2.02,10.975a27.752,27.752,0,0,0-4.511,1.885l-9.191-6.329-1.953,1.515a40.606,40.606,0,0,0-6.733,6.733L7.2,305.338l6.262,9.258a27.753,27.753,0,0,0-1.885,4.511L.606,321.128l-.3,2.491a37.866,37.866,0,0,0,0,9.561l.3,2.491,10.975,2.02a27.754,27.754,0,0,0,1.885,4.511l-6.329,9.191,1.515,1.953a40.606,40.606,0,0,0,6.733,6.733l1.953,1.515,9.258-6.262a27.755,27.755,0,0,0,4.511,1.885l2.02,10.975,2.491.3a37.866,37.866,0,0,0,9.561,0l2.491-.3,2.02-10.975a27.752,27.752,0,0,0,4.511-1.885l9.191,6.329,1.953-1.515a40.607,40.607,0,0,0,6.733-6.733l1.515-1.953L67.333,342.2a27.755,27.755,0,0,0,1.885-4.511l10.975-2.02.3-2.491a37.865,37.865,0,0,0,0-9.561Zm-30,4.781a10.1,10.1,0,1,1-10.1-10.1A10.1,10.1,0,0,1,50.5,328.4Z"
      transform="translate(1897 3919.2)" />
  </g>
</svg>
